<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assessment.name %>
</p>

<p>
  <strong>Covered Standards:</strong>
  <ul>
    <% @assessment.covered_standards.each do |covered_standard| %>
      <li>
        <%= covered_standard.standard.name %>
        <ul>
          <% covered_standard.exercises.each do |exercise| %>
            <li><%= exercise.id %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_course_assessment_path(@assessment.course,@assessment) %> |
<%= link_to 'Index', course_assessments_path(@assessment.course) %>
