<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assessment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assessment.description %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @assessment.standard.name if @assessment.standard %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @assessment.exam.name if @assessment.exam %>
</p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
