<p id="notice"><%= notice %></p>

<%= link_to 'Print', print_course_assessment_path(@assessment.course,@assessment, format: :pdf) %>
<%= link_to '(.tex)', print_course_assessment_path(@assessment.course,@assessment, format: :tex) %>
|
<%= link_to 'Print Long', print_long_course_assessment_path(@assessment.course,@assessment, format: :pdf) %>
<%= link_to '(.tex)', print_long_course_assessment_path(@assessment.course,@assessment, format: :tex) %>
|
<%= link_to 'Solutions', print_solutions_course_assessment_path(@assessment.course,@assessment, format: :pdf) %> 
<%= link_to '(.tex)', print_solutions_course_assessment_path(@assessment.course,@assessment, format: :tex) %> 

<p>
  <strong>Name:</strong>
  <%= @assessment.name %>
</p>

<p>
  <strong>TeX Header:</strong>
</p>

<pre><%= @assessment.tex_header %></pre>

<p>
  <strong>Covered Standards:</strong>
  <ul>
    <% @assessment.covered_standards.each do |covered_standard| %>
      <li>
        <%= covered_standard.standard.name %>
        <ul>
          <% covered_standard.exercise_versions.each do |exercise_version| %>
            <li>
              <%= link_to "Version #{exercise_version.id}", [@course, exercise_version.exercise] %>
              (Exercise <%= exercise_version.exercise_id %>)
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Index', course_assessments_path(@assessment.course) %>
