<table style="text-align:center;">
  <thead>
    <tr>
      <th>Exam</th>
      <% standards.each do |standard| %>
        <th><%= standard.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% exams.each_with_index do |exam,i| %>
      <tr>
        <td><%= exam.name %></td>
        <% standards.each do |standard| %>
          <% if assessment = exam.assessments.where(standard:standard).first %>
            <td style="
              font-size:1.2em;
              font-weight:bold;
              <% if student.decisive_attempt(assessment).outcome_id == -2 %>
                color:gray;
              <% elsif student.decisive_attempt(assessment).outcome_id == -1 %>
                color:red;
              <% elsif student.decisive_attempt(assessment).outcome_id == 0 %>
                color:blue;
              <% else %>
                color:green;
              <% end %>
            ">
              <%= student.decisive_attempt(assessment).outcome %><br>
              <%= select_tag "attempt[#{assessment.id}]", options_for_select(Attempt::OUTCOME_ARRAY), include_blank: true if editable %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
      <% if i % 5 == 4 %>
        <tr style="color:gray;">
          <td></td>
          <% standards.each do |standard| %>
            <td style="text-align:center"><%= standard.name %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <th>Total</th>
      <% standards.each do |standard| %>
        <td style="
          font-size:1.2em;
          <% if student.count_successful_attempts(standard) == 0 %>
            color:red;
          <% else %>
            color:green;
          <% end %>
        ">
          <% if student.count_successful_attempts(standard) == 0 %>
            <%= Attempt::OUTCOME_LABELS[-1] %>
          <% end %>
          <% student.count_successful_attempts(standard).times do %><!--
         --><%= Attempt::OUTCOME_LABELS[1] %><!--
       --><% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<table style="text-align:center">
  <thead>
    <tr>
      <th></th>
      <th>Partially Mastered Cores (<%= Attempt::OUTCOME_LABELS[1] %>)</th>
      <th>Mastered Cores (<%= Attempt::OUTCOME_LABELS[1]*2 %>)</th>
      <th>Mastered Supplementals (<%= Attempt::OUTCOME_LABELS[1] %>)</th>
      <th>Participation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Req. for A</th>
      <td>16</td>
      <td>13</td>
      <td>13</td>
      <td>80%</td>
    </tr>
    <tr>
      <th>Req. for B</th>
      <td>14</td>
      <td>10</td>
      <td>10</td>
      <td>70%</td>
    </tr>
    <tr>
      <th>Req. for C</th>
      <td>12</td>
      <td>8</td>
      <td>8</td>
      <td>60%</td>
    </tr>
    <tr>
      <th>Req. for D</th>
      <td>10</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>You have:</th>
      <th>
        <%= standards
            .where(category:2).to_a
            .count{|s|student.count_successful_attempts(s) >= 1}
        %>
      </th>
      <th>
        <%= standards
            .where(category:2).to_a
            .count{|s|student.count_successful_attempts(s) >= 2}
        %>
      </th>
      <th>
        <%= standards
            .where(category:1).to_a
            .count{|s|student.count_successful_attempts(s) >= 1}
        %>
      </th>
      <th>??%</th>
    </tr>
  </tbody>
</table>
