<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>School identifier:</strong>
  <%= @student.school_identifier %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<%= link_to 'Grade', grade_student_path(@student) %> |
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Index', students_path %>


<h3>Progress Report</h3>
<%= render 'progress', student: @student, exams: @exams, standards: Standard.all_assessed, editable: false %>
