<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @student.section.name if @student.section %>
</p>

<p>
  <strong>School identifier:</strong>
  <%= @student.school_identifier %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Attempt points earned:</strong>
  <%= @student.attempt_points_earned %>
</p>

<%= link_to 'Edit', edit_course_student_path(@student.course,@student) %> |
<%= link_to 'Index', course_students_path(@student.course) %>
