<p id="notice"><%= notice %></p>

<h1>Standard Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Satisfactory limit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @standard_categories.each do |standard_category| %>
      <tr>
        <td><%= standard_category.name %></td>
        <td><%= standard_category.description %></td>
        <td><%= standard_category.satisfactory_limit %></td>
        <td><%= link_to 'Show', [standard_category.course,standard_category] %></td>
        <td><%= link_to 'Edit', edit_course_standard_category_path(standard_category.course,standard_category) %></td>
        <td><%= link_to 'Destroy', [standard_category.course,standard_category], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Standard Category', new_course_standard_category_path(@course) %>
