<%= form_for [attempt.course,attempt] do |f| %>
  <% if attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attempt.errors.count, "error") %> prohibited this attempt from being saved:</h2>

      <ul>
      <% attempt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="standard">
    <%= f.label :standard %>
    <%= f.collection_select(:standard_id, Standard.where(course:attempt.course), :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :student %>
    <%= f.collection_select(:student_id, Student.where(course:attempt.course), :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :mark %>
    <%= f.select :mark, Attempt::MARK_ARRAY, selected: attempt[:mark] %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
