<%= form_for(attempt) do |f| %>
  <% if attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attempt.errors.count, "error") %> prohibited this attempt from being saved:</h2>

      <ul>
      <% attempt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="assessment">
    <%= f.label :assessment %>
    <%= f.collection_select(:assessment_id, Assessment.all, :id, :exam_standard) %>
  </div>

  <div class="field">
    <%= f.label :student %>
    <%= f.collection_select(:student_id, Student.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :outcome %>
    <%= f.select :outcome_id, Attempt::OUTCOMES %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
