<p id="notice"><%= notice %></p>

<h1>Attempts</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Standard</th>
      <th>Mark</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attempts.each do |attempt| %>
      <tr>
        <td><%= attempt.student.name %></td>
        <td><%= attempt.standard.name %></td>
        <td><%= attempt.mark %></td>
        <td><%= attempt.note %></td>
        <td><%= link_to 'Show', [attempt.course,attempt] %></td>
        <td><%= link_to 'Edit', edit_course_attempt_path(@course,attempt) %></td>
        <td><%= link_to 'Destroy', course_attempt_path(@course,attempt), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attempt', new_course_attempt_path(@course) %>
