<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @attempt.student.name %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @attempt.standard.name %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @attempt.mark %>
</p>

<p>
  <strong>Attempted On:</strong>
  <%= @attempt.attempted_on.strftime("%F") %>
</p>

<p>
  <strong>Attempt Points Used:</strong>
  <%= @attempt.attempt_points_used %>
</p>

<p>
  <strong>Note:</strong>
  <%= @attempt.note %>
</p>

<%= link_to 'Edit', edit_course_attempt_path(@attempt.course,@attempt) %> |
<%= link_to 'Index', course_attempts_path(@attempt.course) %> |
<%= link_to "Provisional Attempts", index_recent_provisionals_course_attempts_path(@course) %>
