<%= form_tag(create_attempts_course_standard_path(standard.course,standard)) do |f| %>

  <div class="field">
    <%= label_tag :attempt_category %>
    <%= select_tag "attempts[attempt_category_id]", options_for_select(AttemptCategory.where(course:@course).collect{|ac|[ac.name,ac.id]}) %>
  </div>

  <div class="field">
    <%= label_tag :attempted_on %>
    <%= date_field_tag "attempts[attempted_on]" %>
  </div>

  <div class="field">
    <%= label_tag :standard %>
    <%= standard.name %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Student</th>
        <th>Mark</th>
        <th>Note</th>
        <th>Attempt Points Used</th>
      </tr>
    </thead>
    <tbody>
      <% students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td>
            <%= select_tag "attempts[marks][#{student.id}]", options_for_select(Attempt::MARK_ARRAY), include_blank: true %>
          </td>
          <td><%= text_field_tag "attempts[notes][#{student.id}]" %></td>
          <td><%= number_field_tag "attempts[attempt_points_useds][#{student.id}]" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= submit_tag("Create Attempts") %>
  </div>
<% end %>
