<p id="notice"><%= notice %></p>

<h1>Standards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @standards.each do |standard| %>
      <tr>
        <td><%= standard.name %></td>
        <td><%= standard.description %></td>
        <td><%= link_to 'Show', course_standard_path(standard.course,standard) %></td>
        <td><%= link_to 'Edit', edit_course_standard_path(standard.course,standard) %></td>
        <td><%= link_to 'Destroy', course_standard_path(standard.course,standard), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'New Attempts', new_attempts_course_standard_path(standard.course,standard) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Standard', new_course_standard_path(@course) %>
