<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @standard.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @standard.description %>
</p>

<%= link_to 'Edit', edit_course_standard_path(@standard.course,@standard) %> |
<%= link_to 'Index', course_standards_path(@standard.course) %> |
<%= link_to 'New Attempts', new_attempts_course_standard_path(@standard.course,@standard) %>
