<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @standard.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @standard.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @standard.category %>
</p>

<p>
  <strong>Exams:</strong>
  <ul>
    <% @standard.exams.each do |exam| %>
      <li><%= link_to exam.name, exam_path(exam) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_standard_path(@standard) %> |
<%= link_to 'Back', standards_path %>
