<p id="notice"><%= notice %></p>

<h1>Grade <%= @exam.name %></h1>

<%= form_tag(post_grades_exam_path) do %>
  <%= render 'progress', exam: @exam, students: @students, editable: true %>
  <%= submit_tag("Update") %>
<% end %>

<%= link_to 'Back', exams_path %>
