<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exam.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exam.description %>
</p>

<%= link_to 'Grade', grade_exam_path(@exam) %> |
<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Index', exams_path %>

<h3>Progress Report</h3>
<%= render 'progress', exam: @exam, students: @students, editable: false %>
