<%= form_for [@course,exercise] do |f| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :standard %>
    <%= f.collection_select(:standard_id, Standard.joins(:standard_category).where(standard_categories:{course:@course}), :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :solution %>
    <%= f.text_area :solution %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
