<!DOCTYPE html>
<html>
  <head>
    <title><% if @course %><%= @course.name %> | <% end %>SbgRails</title>
    <%= csrf_meta_tags %>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
  </head>

  <body>
    <h1>
      <% if @course && @course.name %>
        <%= @course.name %> |
      <% end %>
      SbgRails
    </h1>
    <p>
      <%= link_to "Courses", :courses %>
      <% if @course && @course.id %>
        | <%= link_to "New Attempts", new_course_attempt_path(@course) %>
          <%= link_to "(Gradescope import)", import_course_attempts_path(@course) %>
        | <%= link_to "Progress", progress_course_path(@course) %>
          <%= link_to "(.pdf)", progress_course_path(@course, format: :pdf) %>
          <%= link_to "(.csv)", progress_course_path(@course, format: :csv) %>
      <% end %>
    </p>
    <% if @course && @course.id %>
      <p>
        <%= link_to "Sections", course_sections_path(@course) %>
        | <%= link_to "Students", course_students_path(@course) %>
        | <%= link_to "Grade Specifications", course_grade_specifications_path(@course) %>
        | <%= link_to "Standard Categories", course_standard_categories_path(@course) %>
        | <%= link_to "Standards", course_standards_path(@course) %>
     <br> <%= link_to "Attempt Categories", course_attempt_categories_path(@course) %>
        | <%= link_to "Attempts", course_attempts_path(@course) %>
        | <%= link_to "Provisional Attempts", index_recent_provisionals_course_attempts_path(@course) %>
        | <%= link_to "Exercises", course_exercises_path(@course) %>
          <%= link_to "(import)", import_course_exercises_path(@course) %>
        | <%= link_to "Assessments", course_assessments_path(@course) %>
      </p>
    <% end %>
    <hr>
    <%= yield %>
  </body>
</html>
