<!DOCTYPE html>
<html>
  <head>
    <title>SbgRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>sbg-rails</h1>
    <p>
      <%= link_to "Home", :root %>
      <%= link_to "Students", students_path %>
      <%= link_to "Standards", standards_path %>
      <%= link_to "Exams", exams_path %>
      <%= link_to "Assessments", assessments_path %>
      <%= link_to "Attempts", attempts_path %>
    </p>
    <hr>
    <%= yield %>
  </body>
</html>
