<!DOCTYPE html>
<html>
  <head>
    <title><% if @course %><%= @course.name %> | <% end %>SbgRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><% if @course && @course.name %><%= @course.name %> | <% end %>SbgRails</h1>
    <p>
      <%= link_to "Home", :home %>
      <%= link_to "Courses", :courses %>
    </p>
      <% if @course && @course.id %>
        <p>
          <%= link_to "Grade Specifications", course_grade_specifications_path(@course) %>
          <%= link_to "Students", course_students_path(@course) %>
          <%= link_to "Standard Categories", course_standard_categories_path(@course) %>
          <%= link_to "Standards", course_standards_path(@course) %>
          <%= link_to "Attempt Categories", course_attempt_categories_path(@course) %>
          <%= link_to "Attempts", course_attempts_path(@course) %>
          <%= link_to "New Attempts", new_course_attempt_path(@course) %>
          <%= link_to "Provisional Attempts", index_recent_provisionals_course_attempts_path(@course) %>
          <%= link_to "Progress", progress_course_path(@course) %>
        </p>
      <% end %>
    <hr>
    <%= yield %>
  </body>
</html>
