<!DOCTYPE html>
<html>
  <head>
    <title>SbgRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>sbg-rails</h1>
    <p>
      <%= link_to "Home", :home %>
      <%= link_to "Progess Reports", :progress %>
      <%= link_to "Students", :students %>
      <%= link_to "Standards", :standards %>
      <%= link_to "Exams", :exams %>
      <%= link_to "Assessments", :assessments %>
      <%= link_to "Attempts", :attempts %>
    </p>
    <hr>
    <%= yield %>
  </body>
</html>
