<!DOCTYPE html>
<html>
  <head>
    <title><% if @course %><%= @course.name %> | <% end %>SbgRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><% if @course %><%= @course.name %> | <% end %>SbgRails</h1>
    <p>
      <%= link_to "Home", :home %>
      <%= link_to "Courses", :courses %>
      <% if @course %>
        <%= link_to "Students", course_students_path(@course) %>
        <%= link_to "Standards", course_standards_path(@course) %>
        <%= link_to "Attempts", course_attempts_path(@course) %>
        <%= link_to "Progress", progress_course_path(@course) %>
      <% end %>
    </p>
    <hr>
    <%= yield %>
  </body>
</html>
